body {
    background-color: lavender;

}

.header-color {
    background-color: chartreuse;
}

.container, .container-fluid {
    background-color: brown;
    color: white;
    font-weight: bold;
    padding: 0px;
}

.col-xl-12 { margin: 0; padding: 0;}


/*#region HEADER*/

#header { 
    padding: 0;
    height: 68px;
    background-color: darkmagenta;
}

#header .row {
    padding: 0;
    margin: 0;
    height: 100%;
}

#header-title {
    padding: 4px 0px 22px 30px;
    margin: 0;
}

/*#region HEADER_NAVBAR*/


#header-navbar {
    color: white;
    margin: 0 !important;
    padding: 4px 0px 4px 0px;
    font-weight: normal;
    font-size: 0.7rem;
    float: right;

}
#header-navbar-folded, #header-navbar-folder {
    margin: 0;
    padding: 0;
}

#header-navbar li {
    display: block;
    margin: 0;
    padding: 0;
}
#header-navbar a {
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

i {
    font-size: 40px;
}
a .row {
    text-align: center;
    margin: 0;
    padding: 0;
}

#header-navbar-folded ul {
    /* margin: 0; */
    left: 0;
    margin-top: 4px;
    padding: 20px 30px 15px 30px;
    width: 200%;

    display: none;
    position: absolute;
    /* ensures dropdown menu does not push the row height*/
    z-index: 45;
    background-color: aqua;
    color: black;
}

#header-navbar-folded ul:after {
    position: absolute;
    left: 30px;
    top: 0;
    width: 0;
    height: 0;
    content: '';
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 15px solid darkmagenta;
    z-index: 45;
}

#nav-4 ul {
    left: auto;
    right: 0;
    text-align: end;
}

#nav-4 ul:after {
    left: auto;
    right: 30px;
}


#header-navbar-folded li:hover ul {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    overflow: hidden;
    box-shadow: 3px 3px 3px gray,
                -3px 3px 3px gray;
}

#i-col {
    text-align: middle;
    margin: 0;
    padding: 0;
}



/*#endregion*/

/*#endregion*/


/*#region MAIN*/


main .row {
    margin: 0; padding: 0;
}

/*#region MAIN-CAROUSEL*/


/*#endregion*/


/*#endregion*/


