body {
    background-color: lavender;
}

.container, .container-fluid {
    background-color: brown;
    color: white;
    font-weight: bold;
    padding: 0px;
}

#xl-div {background-color: darkblue;}
#lg-div {background-color: crimson;}
#md-div {background-color: chartreuse;}
#sm-div {background-color: chocolate;}
#xs-div {background-color: cornflowerblue;}

/***************/

#header {background-color: darkmagenta; padding: 0px;}

#header-title {
    padding: 20px 0px 20px 30px;
    background-color: brown;
}

/*#region HEADER_NAVBAR*/
#header-navbar {
    color: white;
    background-color: orange;
    margin: 0;
    padding: 0;
}

#header-navbar li {
    display: block;
    margin: 0;
    padding: 0;
}
#header-navbar a {
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
}


#header-navbar ul {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    /* ensures dropdown menu does not push the row height*/
    top: 100%;
    left: 0;
    z-index: 99999;
    background-color: aqua;
    color: black;
}

#header-navbar ul:after {
    position: absolute;
    left: 50%;
    top: 0;
    width: 0;
    height: 0;
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 16px solid brown;
}


i {font-size: 40px;}

a .row {
    text-align: center;
    margin: 0;
    padding: 0;
}



#header-navbar li:hover ul {
    display: flex;
    flex-direction: column;
}


/*#endregion*/

main img {
    max-width: 100% !important;
    height: auto;
    display: block;
}